img  {
  width: 25%;
  height: 25%;
  float: left;
  margin: 5px 20px 15px 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

nav {
  padding-right: 15px;
}

.entry {
  background-color: #F5F5F5;
  font-size: 13px;
  color: #666666;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}

a {
  text-decoration: none;
}

.row {
    padding-top: 5px;
}


#vid-backdrop {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#000;
	opacity: .0;
	filter:alpha(opacity=0);
	z-index:50;
	display:none;
}

#player {
	position:fixed;
	top:20%;
	left:27%;
	width:600px;
	height:400px;
	background:#ffffff;
	z-index:51;
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:0px 0px 5px #444444;
	-webkit-box-shadow:0px 0px 5px #444444;
	box-shadow:0px 0px 5px #444444;
	display:none;
}

#map-backdrop {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#000;
	opacity: .0;
	filter:alpha(opacity=0);
	z-index:50;
	display:none;
}

#map {
	position: absolute;
	width:600px;
	height:400px;
	background:#ffffff;
	z-index:51;
  border-radius: 5px;
	box-shadow:0px 0px 5px #444444;
	display:none;
}

#map-container {
  position: fixed;
  top:20%;
	left:27%;
  z-index: 52;
}
