body {
  margin: 0 auto;
  border-radius: 12px;
  border: 1px solid #E8E8E8;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  margin-bottom: 7px;
  padding: 10px 10px;
  width: 80%;
  background-color: #FFFFFF;
  font-family: Verdana, Arial, sans-serif;
}

img {
  width: 15%;
  height: 15%;

}

.entry {
  background-color: #F5F5F5;
  font-size: 11px;
  color: #666666;

}

a {
  text-decoration: none;
  font-size: 1.1rem;
}

.content img {
  float: left;
  margin: 5px 20px 5px 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.9);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.9);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.content {
    padding: 10px;
    overflow: hidden;
    border: 2px solid white;
}

h1 {
  font-size: 1.5rem;
}

.info {
  margin-top: -15px;
}

#vid-backdrop {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#000;
	opacity: .0;
	filter:alpha(opacity=0);
	z-index:50;
	display:none;
}

#player {
	position:fixed;
	top:20%;
	left:27%;
	width:600px;
	height:400px;
	background:#ffffff;
	z-index:51;
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:0px 0px 5px #444444;
	-webkit-box-shadow:0px 0px 5px #444444;
	box-shadow:0px 0px 5px #444444;
	display:none;
}

#map-backdrop {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#000;
	opacity: .0;
	filter:alpha(opacity=0);
	z-index:50;
	display:none;
}

#map {
	position: absolute;
	width:600px;
	height:400px;
	background:#ffffff;
	z-index:51;
  border-radius: 5px;
	box-shadow:0px 0px 5px #444444;
	display:none;
}

#map-container {
  position: fixed;
  top:20%;
	left:27%;
}
